<div class="p-3">
  <h1 class="text-2xl font-bold">Tickets</h1>
  <p>Gestión y visualización de Tickets</p>
</div>
<div class="mt-5 mx-4">
  <p-table
    #psales
    [value]="sales"
    [globalFilterFields]="[
      'correlative',
      'designerName',
      'paymentMethod',
      'advancePayment',
      'saleValue',
      'totalAmount',
      'saleSubtotal',
      'statusSale',
      'statusProduct',
      'createdAt',
    ]"
    size="small"
    selectionMode="single"
    [loading]="loading"
    dataKey="id"
    [rowsPerPageOptions]="[5, 10, 20]"
    [rows]="5"
    [paginator]="true"
    [columnResizeMode]="'fit'"
  >
    <ng-template #caption>
      <div class="flex w-full justify-between items-center">
        <div class="flex items-center gap-3">
          <p-button
            label="Nuevo Ticket"
            icon="pi pi-plus"
            class="p-button-sm"
            raised="true"
            rounded="true"
            (click)="createNewTicket()"
          />
          <label class="flex items-center gap-1 text-sm cursor-pointer">
            <input
              type="checkbox"
              [checked]="showAllSales"
              (change)="onShowAllSalesChange($event)"
            />
            Mostrar todos
          </label>
        </div>
        <p-iconfield iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            class="w-80"
            [value]="this.globalFilterValue(psales)"
            (input)="psales.filterGlobal($event.target.value, 'contains')"
            placeholder="Buscar ticket..."
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th pSortableColumn="id">Correlativo <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="designer">Diseñador <p-sortIcon field="designer"></p-sortIcon></th>
        <th pSortableColumn="paymentMethod">
          M.Pago <p-sortIcon field="paymentMethod"></p-sortIcon>
        </th>
        <th pSortableColumn="advance">Adelanto <p-sortIcon field="advance"></p-sortIcon></th>
        <th pSortableColumn="balance">Saldo <p-sortIcon field="balance"></p-sortIcon></th>
        <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
        <th pSortableColumn="client">Cliente <p-sortIcon field="client"></p-sortIcon></th>
        <th pSortableColumn="status">Estados<p-sortIcon field="status"></p-sortIcon></th>
        <th pSortableColumn="date">Hora <p-sortIcon field="date"></p-sortIcon></th>
        <th pSortableColumn="actions">Acciones <p-sortIcon field="actions"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template #body let-sale>
      <tr [class.row-deleted]="!sale.isActive">
        <td width="99px">{{ sale.correlative }}</td>
        <td>
          {{ sale.designerName }}
        </td>
        <td>
          @for (method of this.paymentMethods; track $index) {
            @if (method.value === sale.paymentMethod) {
              <div class="flex items-center gap-2">
                @if (method.image) {
                  <img [src]="method.image" alt="" class="w-5 h-5 object-contain" />
                }
                <span>{{ method.label }}</span>
              </div>
            }
          }
        </td>
        <td>{{ sale.advancePayment | currency: 'S/.' : 'symbol' : '1.2-2' }}</td>
        <td>{{ sale.saleValue | currency: 'S/.' : 'symbol' : '1.2-2' }}</td>
        <td>{{ sale.totalAmount | currency: 'S/.' : 'symbol' : '1.2-2' }}</td>
        <td>
          <div class="flex flex-col">
            <!-- <div>{{ sale.phone }}</div> -->
            <p-button
              label="Copiar"
              icon="pi pi-whatsapp"
              size="small"
              raised="true"
              rounded="true"
              severity="success"
              (click)="copyPhoneToClipboard(sale.phone)"
            />
          </div>
        </td>
        <td class="flex flex-col gap-2">
          <div>
            <span class="font-semibold"> Producto: </span>
            @if (sale.statusProduct) {
              <p-tag
                [value]="sale.statusProduct"
                [severity]="getProductStatusSeverity(sale.statusProduct)"
                rounded="true"
              ></p-tag>
            }
          </div>
          <div>
            <span class="font-semibold"> Venta: </span>
            @if (sale.statusSale) {
              <p-tag
                [value]="sale.statusSale"
                [severity]="getSaleStatusSeverity(sale.statusSale)"
                rounded="true"
              ></p-tag>
            }
          </div>
        </td>
        <td>
          <div>
            {{ sale.createdAt | date: 'dd/MM/yyyy' }}
          </div>
          <div>
            {{ sale.createdAt | date: 'HH:mm' }}
          </div>
        </td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            rounded="true"
            raised="true"
            (click)="editTicket(sale)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            class=""
            rounded="true"
            severity="danger"
            raised="true"
            (click)="deleteTicket(sale)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog
    header="Nuevo Ticket"
    [(visible)]="ticketDialog"
    [modal]="true"
    [style]="{ width: '800px' }"
    maskStyleClass="backdrop-blur-sm"
  >
    <crud-form
      [form]="ticketForm"
      [fields]="ticketFields"
      [columns]="4"
      [columnSizes]="['144px', '160px', '160px', '224px']"
      [rows]="4"
      (save)="saveClient()"
      (cancel)="hideDialog()"
    />
  </p-dialog>
</div>
<p-dialog
  [(visible)]="customerDialog"
  [modal]="true"
  draggable="false"
  [style]="{ width: '1250px', height: '700px' }"
>
  <ng-template #headless>
    <div class="flex justify-end pr-3 pt-3">
      <p-button
        rounded="true"
        (click)="customerDialog = false"
        icon="pi pi-times"
        outlined="true"
        raised="true"
      />
    </div>
    <div class="w-full h-full overflow-auto p-2">
      <app-customer
        [showSelectButton]="true"
        (customerSelected)="onCustomerSelected($event)"
        (addNewCustomer)="openAddCustomerDialog()"
      ></app-customer>
    </div>
  </ng-template>
</p-dialog>
<app-message-toast #toast></app-message-toast>
