<form [formGroup]="form" class="flex flex-col gap-3">
  <div
    class="grid gap-3"
    [ngStyle]="{
      'grid-template-columns': columnSizes
        ? columnSizes.join(' ')
        : 'repeat(' + (columns || 4) + ', minmax(0, 1fr))',
      'grid-template-rows': rows ? 'repeat(' + rows + ', auto)' : null,
    }"
  >
    @for (field of fields; track $index) {
      <ng-container *ngTemplateOutlet="fieldTemplate; context: { $implicit: field }"></ng-container>
    }
  </div>

  <div class="flex gap-2 mt-4">
    <p-button label="Cancelar" icon="pi pi-times" text (click)="cancel.emit()" />
    <p-button label="Guardar" icon="pi pi-check" (click)="save.emit()" />
  </div>

  <!-- Template para renderizar cada field -->
  <ng-template #fieldTemplate let-field>
    <div
      [ngClass]="field.class"
      [ngStyle]="{
        'grid-column':
          (field.colStart ? field.colStart : 'auto') +
          ' / ' +
          (field.colEnd ? field.colEnd : 'auto'),
        'grid-row':
          (field.rowStart ? field.rowStart : 'auto') +
          ' / ' +
          (field.rowEnd ? field.rowEnd : 'auto'),
      }"
    >
      @if (field.type === 'correlative') {
        <p-iftalabel>
          <p-input-number
            mode="decimal"
            [useGrouping]="false"
            [class]="field.class"
            [inputId]="field.name"
            [formControlName]="field.name"
            [placeholder]="field.placeholder || ''"
            [min]="1"
            [max]="9999999999"
          />
          <label for="{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'number') {
        <p-iftalabel>
          <p-input-number
            [class]="field.class"
            [inputId]="field.name"
            [formControlName]="field.name"
            [placeholder]="field.placeholder || ''"
            mode="decimal"
            [min]="0"
            [max]="999999999"
            mode="currency"
            currency="PEN"
            locale="es-PE"
          />
          <label for="{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'text' || field.type === 'email') {
        <p-iftalabel>
          <input
            [class]="field.class"
            pInputText
            [id]="field.name"
            [type]="field.type"
            [formControlName]="field.name"
            [placeholder]="field.placeholder || ''"
          />
          <label for="{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'select') {
        <p-iftalabel>
          <p-select
            [class]="field.class"
            [options]="field.options"
            [formControlName]="field.name"
            optionLabel="label"
            optionValue="value"
            placeholder="Selecciona una opción"
          />
          <label [for]="field.name">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'select-options') {
        <p-iftalabel>
          <p-select
            [class]="field.class"
            [options]="field.options"
            formControlName="{{ field.name }}"
            optionLabel="label"
            optionValue="value"
          />
          <label for="dd-{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'select-icon') {
        <p-iftalabel>
          <p-select
            [class]="field.class"
            [options]="field.options"
            formControlName="{{ field.name }}"
            optionLabel="label"
            optionValue="value"
          >
            <ng-template let-option pTemplate="item">
              <div class="flex items-center gap-2">
                @if (option.image) {
                  <img [src]="option.image" alt="" class="w-5 h-5 object-contain" />
                }
                <span>{{ option.label }}</span>
              </div>
            </ng-template>
            <ng-template let-option pTemplate="selectedItem">
              <div class="flex items-center gap-2">
                @if (option?.image) {
                  <img [src]="option.image" alt="" class="w-5 h-5 object-contain" />
                }
                <span>{{ option?.label }}</span>
              </div>
            </ng-template>
          </p-select>
          <label for="dd-{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'select-group') {
        <p-iftalabel>
          <p-select
            [class]="field.class"
            [options]="field.optionsSelect"
            [group]="true"
            formControlName="{{ field.name }}"
            placeholder="Selecciona el Stand"
            optionLabel="label"
            optionValue="value"
            inputId="{{ field.name }}"
          >
            <ng-template let-group #group>
              <div class="flex items-center">
                <span>{{ group.label }}</span>
              </div>
            </ng-template>
          </p-select>
          <label for="{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'date-time') {
        <p-iftalabel>
          <p-datepicker
            [class]="field.class"
            id="{{ field.name }}"
            formControlName="{{ field.name }}"
            dateFormat="dd/mm/yy"
            [showTime]="true"
            timeOnly="true"
            hourFormat="24"
          ></p-datepicker>
          <label for="{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'checkbox') {
        <div class="flex items-center gap-2" [ngClass]="field.class">
          <p-checkbox [formControlName]="field.name" [binary]="true" [inputId]="field.name" />
          <label [for]="field.name">{{ field.label }}</label>
        </div>
      }
      @if (field.type === 'textarea') {
        <p-iftalabel>
          <textarea
            [class]="field.class"
            pInputTextarea
            [id]="field.name"
            [formControlName]="field.name"
            rows="3"
            autoResize
          ></textarea>
          <label for="{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'tel') {
        <p-iftalabel>
          <input
            [class]="field.class"
            pInputText
            [id]="field.name"
            type="tel"
            [formControlName]="field.name"
            [placeholder]="field.placeholder || ''"
          />
          <label for="{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
    </div>
  </ng-template>
</form>
