<form [formGroup]="form" class="flex flex-col min-h-80">
  <div class="flex flex-wrap gap-4">
    @for (field of fields; track $index) {
      @if (
        field.type !== 'selectbutton' &&
        field.type !== 'select-icon' &&
        field.type !== 'select-group' &&
        field.type !== 'select-options' &&
        field.type !== 'date-time'
      ) {
        <p-iftalabel>
          <input
            pInputText
            [id]="field.name"
            [class]="field.class"
            [type]="field.type || 'text'"
            [formControlName]="field.name"
          />
          <label for="{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'selectbutton') {
        <div class="flex items-center gap-3">
          <label for="{{ field.name }}">Activo</label>
          <p-selectbutton
            [options]="field.options"
            formControlName="{{ field.name }}"
            optionLabel="label"
            optionValue="value"
          />
        </div>
      }
      @if (field.type === 'select-options') {
        <p-iftalabel [class]="field.class">
          <p-select
            [options]="field.options"
            formControlName="{{ field.name }}"
            optionLabel="label"
            optionValue="value"
            class="w-full"
          />
          <label for="dd-{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'select-icon') {
        <p-iftalabel [class]="field.class">
          <p-select
            [options]="field.options"
            formControlName="{{ field.name }}"
            optionLabel="label"
            optionValue="value"
            class="w-full"
          >
            <ng-template let-option pTemplate="item">
              <div class="flex items-center gap-2">
                @if (option.image) {
                  <img [src]="option.image" alt="" class="w-5 h-5 object-contain" />
                }
                <span>{{ option.label }}</span>
              </div>
            </ng-template>
            <ng-template let-option pTemplate="selectedItem">
              <div class="flex items-center gap-2">
                @if (option?.image) {
                  <img [src]="option.image" alt="" class="w-5 h-5 object-contain" />
                }
                <span>{{ option?.label }}</span>
              </div>
            </ng-template>
          </p-select>
          <label for="dd-{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'select-group') {
        <p-iftalabel [class]="field.class">
          <p-select
            [options]="field.optionsSelect"
            [group]="true"
            formControlName="{{ field.name }}"
            placeholder="Selecciona el Stand"
            optionLabel="label"
            optionValue="value"
            inputId="{{ field.name }}"
            class="w-full"
          >
            <ng-template let-group #group>
              <div class="flex items-center">
                <span>{{ group.label }}</span>
              </div>
            </ng-template>
          </p-select>
          <label for="{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
      @if (field.type === 'date-time') {
        <p-iftalabel [class]="field.class">
          <p-datepicker
            id="{{ field.name }}"
            formControlName="{{ field.name }}"
            class="w-full"
            dateFormat="dd/mm/yy"
            [showTime]="true"
            timeOnly="true"
            hourFormat="24"
          ></p-datepicker>
          <label for="{{ field.name }}">{{ field.label }}</label>
        </p-iftalabel>
      }
    }
  </div>
  <div class="flex gap-2 mt-4">
    <p-button label="Cancelar" icon="pi pi-times" text (click)="cancel.emit()" />
    <p-button label="Guardar" icon="pi pi-check" (click)="save.emit()" />
  </div>
</form>
